body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#movieBody {
    background-color: dimgray;
}

header {
    height: 100px;
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    font-size: 5em;
    margin-bottom: 40px;
}

.box {
    margin: 20px;
    display: flex;
    flex-direction: row;
    font-size: .9em;
    width: 350px;
    border: 1px solid black;
    background-color: white;
}

h3 {
    margin: 10;
    text-align: center;
}

p {
    margin: 0;
    padding: 10px 0 0;
    text-align: center;
}

.random {
    background-color: black;
    border-radius: 50%;
}

.movies {
    height: 200px;
    width: 150px;
    vertical-align: middle;
}

.randomBox {
    border: 1px solid black;
    background-color: dimgray;
    padding: 20px;
    margin: 10px;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    text-align: left;
}

h4 {
    margin: 0;
}